
<!DOCTYPE html>
<html>
<head>

	<title>Canada FSA</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<body>



<div id="mapid" style="height: 1000px;"></div>
<script>

	// initialize map and set zoom
	var mymap = L.map('mapid').setView([43.6329761,-79.3542285], 8);

	// add tiles
	var map_tl  = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/outdoors-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZGxpbjE3IiwiYSI6ImNpcmsyMGxudzAwMnlmYm5icXlzYWsxd2IifQ.MUxIcntS8U8rRa41fbPo_Q', {
		minZoom: 1,
		maxZoom: 20,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	});

	map_tl.addTo(mymap);

	function getColor(d) {
		return d > 30 ? '#550000' :
			   d > 20 ? '#801515' :
			   d > 10 ? '#D46A6A' :
			   d > 3 ? '#FFAAAA' :
			   			'#A7A7A7';
	}

	// var fsa = L.geoJSON(false, {
	// 				style: function(feature) {
	// 					console.log(feature)
	// 					return {
	// 						fillColor: getColor(feature.properties.colour),
	// 						weight: 0,
	// 						fillOpacity: 0.7,
	// 						color: '#D3D3D3'
	// 					}
	// 				}
	// 			}).addTo(mymap);

	// var fsa = L.geoJSON().addTo(mymap);
	var fsa = L.geoJSON(false, 	{
			onEachFeature: fsaPopup
		}).addTo(mymap);

	function fsaPopup(feature, layer) {
		layer.bindPopup('<center><strong>Province: </strong>' + feature.properties.province +
		'<br>' + '<strong>FSA: </strong>' + feature.properties.fsa + '<br>'
	);

		layer.on('mouseover', function(e) {
			this.openPopup();
		});

		layer.on('mouseout', function(e) {
			this.closePopup();
		});
	}

	// load markers based on map bounds
	function loadFSAs() {
		var bounds = mymap.getBounds();
		var ne = bounds._northEast;
		var sw = bounds._southWest;

		console.log(bounds)

		// make call to get geoJSON of all FSAs in view
		$.ajax({
			url: 'fsa_api',
			data: {
					minlat : sw.lat,
					minlng : sw.lng,
					maxlat : ne.lat,
					maxlng : ne.lng
				},
			type: "GET",
			dataType: 'json',
			complete: function(data) {
				// shouldn't need to convert this to json .. debug later
				parsed_data = jQuery.parseJSON(data.responseText)
				console.log(data)
				fsa.clearLayers();

				fsa.addData(parsed_data);
			}
		});
	}


	loadFSAs();

</script>



</body>
</html>
